<div class="well" ng-if="add.mes_id != ''">
<div class="row" ng-if="!add.accionImporte">					  
	<div class="col-sm-12">
	<div class="col-sm-3" >
	<label>Gasto Variable</label>
	   		<input type="number" class="form-control" ng-model="add.gasto.importeVar"> 
	</div> 

	<div class="col-sm-3" >
	<label>Gasto fijo</label>
	   		<input type="number" class="form-control" ng-model="add.gasto.importeFijo">
	</div> 

	<div class="col-sm-2" style="margin-top: 26px">
	         <input type="submit" ng-click="add.guardarImporte(add.gasto)"  ng-show="add.action" value="Guardar" class="btn btn-primary">
	         <input type="submit" ng-click="add.actualizar(add.gasto)"  ng-show="!add.action" value="Actualizar" class="btn btn-primary"><br/>
	       </div> 
		
   </div> 
</div>

<br/>

<div class="row" ng-if="add.mes_id != ''">
<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<!--<h2>Resumen</h2>-->
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
				   
						   <thead>
						    <tr>
							    <th width="20%"><div class="text-center">Gasto Variables</div></th>
							    <th width="20%"><div class="text-center">Gasto FIjos</div></th>
							    <th width="20%"><div class="text-center">Acciones</div></th>
							  
						    </tr>
						   </thead>


							<tbody>
							<tr ng-repeat="gasto in add.gastos">
						        <th><div class="text-center">{{gasto.importeVar | currency}}</div></th>
						        <th><div class="text-center">{{gasto.importeFijo | currency}}</div></th>
						        <th ng-show="">{{gasto.importeVar + gasto.importeFijo | currency}}</th>
						        
			    <td>
				    <div class="text-center">
							   <a ng-click="add.editar(gasto._id)" style="font-size: 13px;" class="label label-warning"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
							  <a  ng-click="add.cambiarEstatus(gasto._id)" style="font-size: 13px;" class="label label-primary">Cambiar Estatus</a>
				    </div>				    
			    </td>

														
							</tr>

							<tr>
					    <th colspan="6">TOTAL DE GASTOS: {{add.TotalFinal() | currency}}</th>
				    </tr>	
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>