<div class="well" >
<div class="row">
<label><strong>Control y Mejora</strong></label>					  
	<div class="col-sm-12">
   </div> 
</div>

<br/>

<div class="row" >
<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<!--<h2>Resumen</h2>-->
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
				   
						   <thead>
						    <tr>
							    <th><div class="text-center">Conceptos</div></th>
							    <th><div class="text-center">Presupuestos</div></th>
							    <th><div class="text-center">Ahorros</div></th>
							    <th><div class="text-center">Nuevo Presupuesto</div></th>
							    <th><div class="text-center">Egresos</div></th>
							    <th><div class="text-center">Resultados logrados</div></th>
							    <th><div class="text-center">Gasto real</div></th>
							    <th><div class="text-center">Ahorro</div></th>
						    </tr>
						   </thead>
							<tbody>	
							<tr ng-repeat="costo in ct.costosTotales">						
							<!--{{ct.plan}}-->
							<div class="row" ng-show="ct.panel">
								<div class="col-sm-12">
									<a ng-click="ct.mostrarMedidas()" class="btn btn-link">Medidas Potenciales (Que se va hacer)</a>
									<a ng-click="ct.mostrarPlanTrabajo()"  class="btn btn-link">Plan de Trabajo(Como se va a desarrollar)</a>
									<a ng-click="ct.mostrarForma()"  class="btn btn-link">Forma de Medición</a>
									<a ng-click="ct.mostrarResponsables()"  class="btn btn-link">Responsables</a>
								</div>
							</div><br/>

<!-- 							/////////////////////////////////////////////////////////////

 -->							
							<div class="panel panel-default"> 
							<div class="col-sm-12">
								<div class="panel-body status">
									<div class="text" >
									<h2>{{ct.nada}}</h2>
									<a class="btn btn-success pull-right" ng-show="ct.panel" ng-click="ct.ocultar()">Ocultar</a><br/>
									
									<!--///////////////////////////MEDIDAS////////////////////////////////-->
									<div class="col-sm-12"   ng-show="ct.medidas" ng-if="ct.costo_id != ''">	
									<h4 ng-repeat="control in ct.controles">{{control.descripcion}}<br/> &nbsp;&nbsp;<a class="btn btn-warning btn-xs" ng-click="ct.editar(control._id)">Editar</a>
									<a class="btn btn-danger btn-xs" ng-click="ct.borrar(control._id)">Borrar</a></h4><br/>
									<textarea class="form-control" ng-show="ct.medidasText" ng-model="ct.control.descripcion"></textarea><br/>
										<a class="btn btn-primary" ng-show="ct.medidasSave" ng-click="ct.guardar(ct.control)">Guardar</a>
										<a class="btn btn-primary" ng-show="!ct.act" ng-click="ct.actualizar(ct.control)">Actualizar</a>
									</div>
									 <!--///////////////////////////PLAN DE TRABAJO////////////////////////////////-->
									<div class="col-sm-12"  ng-show="ct.planTrabajo">	
									<h4 ng-repeat="control in ct.controlesPlan">{{control.descripcionTrabajo}}<br/> &nbsp;&nbsp;<a class="btn btn-warning btn-xs" ng-click="ct.editarPlan(control._id)">Editar</a>
									<a class="btn btn-danger btn-xs" ng-click="ct.borrarPlan(control._id)">Borrar</a></h4><br/>
									<textarea class="form-control"  ng-model="ct.control.descripcionTrabajo"></textarea><br/>
										<a class="btn btn-primary" ng-show="ct.planTrabajoSave" ng-click="ct.guardarPlan(ct.control)">Guardar</a>
										<a class="btn btn-primary" ng-show="!ct.actTrabajo" ng-click="ct.actualizarPlan(ct.control)">Actualizar</a>
									</div>
										<!--///////////////////////////FORMA ////////////////////////////////-->
									<div class="col-sm-12" ng-show="ct.forma">	
									<h4 ng-repeat="control in ct.controlesForma">{{control.descripcionForma}}<br/> &nbsp;&nbsp;<a class="btn btn-warning btn-xs" ng-click="ct.editarForma(control._id)">Editar</a>
									<a class="btn btn-danger btn-xs" ng-click="ct.borrarForma(control._id)">Borrar</a></h4><br/>
									<textarea class="form-control"  ng-model="ct.control.descripcionForma"></textarea><br/>
										<a class="btn btn-primary" ng-show="ct.formaSave" ng-click="ct.guardarForma(ct.control)">Guardar</a>
										<a class="btn btn-primary" ng-show="!ct.actForma" ng-click="ct.actualizarForma(ct.control)">Actualizar</a>
									</div>
									</div>
										<!--///////////////////////////RESPONSABLES////////////////////////////////-->
									<div class="col-sm-12" ng-show="ct.responsables">	
									<h4 ng-repeat="control in ct.controlesResponsables">{{control.descripcionResponsables}}<br/> &nbsp;&nbsp;<a class="btn btn-warning btn-xs" ng-click="ct.editarResponsables(control._id)">Editar</a>
									<a class="btn btn-danger btn-xs" ng-click="ct.borrarResponsables(control._id)">Borrar</a></h4><br/>
									<textarea class="form-control"  ng-model="ct.control.descripcionResponsables"></textarea><br/>
										<a class="btn btn-primary" ng-show="ct.responsablesSave" ng-click="ct.guardarResponsables(ct.control)">Guardar</a>
										<a class="btn btn-primary" ng-show="!ct.actResponsables" ng-click="ct.actualizarResponsables(ct.control)">Actualizar</a>
									</div>
									</div>
								
							  </div>
							</div>
								<th><div class="text-center"><a ng-click="ct.mostrar(costo.costo_id,costo.costo)" >{{costo.costo}}</a></div></th>
								<th><div class="text-center">{{costo.total | currency}}</div></th>
								<th><div class="text-center">{{(costo.total) - ((costo.total) - (costo.total * costo.factor) / 100) | currency}}</div></th>
								<th ><div class="text-center">{{(costo.total) - (costo.total * costo.factor) / 100 | currency}}</div></th>
								<th><div class="text-center">{{costo.real | currency}}</div></th>
								<th><div class="text-center">{{costo.real | currency}}</div></th>
								<th><div class="text-center">{{(costo.real) / ((costo.total) - (costo.total * costo.factor) / 100) * 100 | number: 2}}</div></th>
								<th><div class="text-center">{{100 - ((costo.real) / ((costo.total) - (costo.total * costo.factor) / 100) * 100) | currency}}</div></th>
							</tr>
						</tbody>

					</table>
					 <!-- //////////// Modal content////////////////////////////////////////-->

                       <!--  <div class="container">

						  <div class="modal fade" id="myModal" role="dialog">
						    <div class="modal-dialog">  
						      <div class="modal-content">
						        <div class="modal-header">
						         <input type="text" class="form-control" placeholder="Escribe tu comentario aqui" ng-model="ct.control.titulo">
						         <textarea class="form-control" ng-model="ct.control.descripcion"></textarea><br/>
						         <a class="btn btn-primary" ng-click="ct.guardarModal(ct.control)">Guardar</a>
						          
						        </div>
						        <div class="modal-header">
						        	<h4 ng-repeat="control in ct.controlesCostos">{{control.titulo}}</h4>
						        	<a class="btn btn-primary" ng-click="ct.guardarModal(ct.control)">Actualizar</a>
						        </div>
						        <div class="modal-body" >
						      
						            <p ng-repeat="control in ct.controlesCostos">{{control.descripcion}}</p>
						          
							            <div class="pull-right col-sm-6">
							               <div class="row" >

							  					             
							              </div>
							            </div><br>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						        </div>
						      </div>
						      
						    </div>
						  </div>
						</div> -->
							<!-- ////////////////////////////Modal////////////////////-->
				</div>
			</div>
		</div>
	</div>
</div>
</div>