<h2>Usuarios</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{usu.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevousuario" ng-click="usu.nuevoUsuario()">
		 {{usu.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4">
			    		<label>Nombre Completo </label>
				    	<input type="text" class="form-control" placeholder="Nombre Completo" ng-model="usu.usuario.nombre" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Usuario </label>
				    	<input type="text" class="form-control" placeholder="Usuario" ng-model="usu.usuario.usuario" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Contraseña </label>
				    	<input type="password" class="form-control" placeholder="Contraseña" ng-model="usu.usuario.contrasena" required>
			    	</div>
			    </div>
					<div class="row">
						<br>
						<div class="col-sm-12">
							<input type="submit" ng-click="usu.guardar(usu.usuario)" value="Guardar" class="btn btn-primary" ng-show="usu.action">
							<input type="submit" ng-click="usu.actualizar(usu.usuario)" value="Actualizar" class="btn btn-primary" ng-show="!usu.action">				
						</div>
					</div>
				</div>
		  </form>
		</div>
	</div>
</div>
<br>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="20%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Usuario</div></th>
					<th width="20%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="15%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="usuario in usu.usuarios">
<!-- 		    	<td><img width="100px" ng-src="{{usuario.fotografia}}" ng-class="{'img-thumbnail': !!usuario.fotografia}"/> </td> -->
			    <td>{{usuario.profile.nombre}}</td>
			    <td>{{usuario.username}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="usuario.profile.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!usuario.profile.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="usu.editar(usuario._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							   <li><a href="#" ng-click="usu.cambiarEstatus(usuario._id)"><i class="fa fa-trash"></i>Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>