
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-4">
				<input placeholder="Asignar fecha" ng-show="mes.accionMes" lang="spanish" date-time class="form-control" view="year" max-view="year" min-view="month" ng-model="mes.mes.fecha"/>
			</div>
			<div class="col-sm-4">
		  	<a class="btn btn-primary" ng-click="mes.guardar(mes.mes)" ng-show="mes.accionMes">
				Asignar Fecha</a>
			</div>
			<div class="row">
			<div class="col-sm-offset-2 col-sm-1">
				<a ui-sref = 'root.planes({id:mes.obra_id})' style="font-size:25px;" class="btn btn-primary btn-lg" role="button">
					Planes
				</a>
			</div>
			</div><br/>
		</div>
	</div>
	<div class="well">	  
	<div class="row"> 
		<div class="col-sm-12">	
			<div class="col-lg-3" ng-repeat="Mes in mes.meses">
				<a href="#" ng-click="mes.mostrarListas(Mes._id)">
					<div class="panel panel-{{mes.panelId == Mes._id ? 'warning' : 'info'}}"> 
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-6">
								  <i class="fa fa-bars fa-5x"></i>
								</div>
								<div class="col-xs-6 text-right">
								  <h1 style="font-size:40pt;"><strong></strong></h1>
								  <p class="announcement-text">{{Mes.mes | date:"MMMM-yyyy"}}</p>
								</div>
							</div>
						</div>
						<div class="panel-footer announcement-bottom">
							<div class="row">
							  <div class="col-xs-6" >
							    Ver...
							  </div>
							  <div class="col-xs-6 text-right">
							    <i class="fa fa-arrow-circle-right"  ng-click="mes.cambiarEstatus(Mes._id)"></i>
							  </div>
							</div>
						</div>
					</div>
				</a>
			</div> 
		</div>
	</div> 
</div>
<br/>
<!--////////////////////////////////////////PRESUPUESTOS//////////////////////////////////////////////////////////////-->
<div class="well">
	<div class="jarviswidget well jarviswidget-sortable" id="wid-id-0" role="widget">
		<header role="heading">			
			<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
			<div role="content">
				<div class="jarviswidget-editbox">
					<input class="form-control" type="text">	
				</div>
				<div class="widget-body no-padding">
					<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="dt-toolbar" style="padding: 0px; ">
					</div>
					<table id="example" class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" width="10%" role="grid" aria-describedby="example_info" style="width: 100%;">
						<thead>
	            <tr role="row">
	            <th class="details-control sorting_disabled" rowspan="1" colspan="1"  style="width: 1px;"></th>
	            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"  style="width: 88px;">
	            <a href="" ng-show="!mes.action"  ng-click="mes.mostrarArchivos(mes.obra_id,mes.mes_id)" style="font-size: 15px;">PRESUPUESTOS</a></th>
	            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"  style="width: 73px;"><a href=""  ng-click="mes.mostrarPeriodo(mes.obra_id,mes.mes_id)" ng-show="!mes.gastoPer" style="font-size: 15px;">PERIODOS</a></th>
	            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 95px;"><a href=""  ng-click="mes.mostrarPagos(mes.obra_id,mes.mes_id)" ng-show="!mes.accionPago" style="font-size: 15px;">PAGOS A PROVEEDORES</a></th>
	            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 95px;"><a href=""  ng-click="mes.mostrarCobro(mes.obra_id,mes.mes_id)" ng-show="!mes.accionCobro" style="font-size: 15px;">ESTIMACIONES</a></th>
	            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 95px;"><a href=""  ng-click="mes.mostrarResumen(mes.obra_id,mes.mes_id)" ng-show="!mes.accionResumen" style="font-size: 15px;">RESUMEN</a></th>
	            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 95px;"><a href=""  ng-click="mes.mostrarGI(mes.obra_id,mes.mes_id)" ng-show="!mes.accionGI" style="font-size: 15px;">GASTOS INDIRECTOS</a></th>
	            </tr>
	        	</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="!mes.accionPresupuesto">				
		<div class="col-sm-12">
			<h3 class="dark-grey"  ng-show="!mes.accionPresupuesto">Lista de Partidas</h3>
				<div class="row" ng-show="!mes.accionPresupuesto">
					<div class="col-sm-4">
						<ul class="list-group no-margin">
							<li ng-repeat="partida in mes.partidas" class="list-group-item">
								<a href="" ng-click="mes.mostrarPresupuestos(mes.obra_id,mes.mes_id,partida._id)" >{{partida.nombre}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 ">
						<label>Lista de Conceptos</label>	
						<select  id="concepto" class="form-control"  placeholder="Seleccione" ng-model="mes.presupuesto.concepto_id">
							<option ng-click="selectDepa" ng-repeat="concepto in mes.conceptos" value="{{concepto._id}}">
								{{concepto.nombre}}
							</option>
						</select>
		   </div>
					</div>
					<div ng-repeat="(key, costo) in mes.costos" style="margin-top: 2px" class="col-sm-2 ">
						<label for="{{key}}">{{costo.nombre}}</label>
						<input type="number" id="{{key}}" class="form-control" ng-model="costo.value">
					</div>	
          <div class="col-sm-4" ng-show="!mes.mostrarFormPre" style="margin-top: 28px">
	        	<input type="submit" ng-click="mes.guardarPresupuesto(mes.costos)" value="Guardar" class="btn btn-primary"><br/>
	       	</div>
	      </div>
			</div>
	<div class="col-sm-12"  ng-if="mes.mes_id != ''"  ng-show="!mes.mostrarFormPre">
	<h3>Presupuestos</h3>	
	<br/>
		<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Tabla</h2>
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
					<thead>
							<tr>
								<th>CONCEPTO</th>
								<th ng-repeat="costo in mes.costos">{{costo.nombre}}</th>
								<th>TOTAL</th>

								<th>ACCIONES</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="presupuesto in mes.presupuestos">
								<td>{{mes.getConcepto(presupuesto.concepto_id)}}</td>
								<td ng-repeat="costo in presupuesto.costos">{{costo.value | currency}}</td>
								<td>{{mes.totalPre(presupuesto.costos) | currency}}</td>
								
							    <td>
								    <div class="text-center">
											 
										    <a ng-click="mes.editarPresupuesto(presupuesto._id)" style="font-size: 13px;" class="label label-warning" ><i class="fa fa-pencil"></i></a>
										  <a  ng-click="mes.cambiarEstatusPresupuesto(presupuesto._id)" style="font-size: 13px;" class="label label-primary">Desactivar</a>
											 
								    </div>				    
							    </td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
   </div> 
</div>
<!--///////////////////////////////////////////////////////////PERIODOS/////////////////////////////////////////////////////////-->
<div class="row" ng-show="!mes.accionPeriodo">				

	<div class="col-sm-12">
      <div class="row"   ng-if="mes.mes_id != ''">
      <br/>

      <div class="jarviswidget well jarviswidget-sortable" id="wid-id-0" role="widget">
<header role="heading">			
<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
<div role="content">
<div class="jarviswidget-editbox">
	<input class="form-control" type="text">	
</div>
<div class="widget-body no-padding">
	<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="dt-toolbar" style="padding: 0px; "></div><table id="example" class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" width="10%" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
            <tr role="row">
            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"  style="width: 88px;">
            <a href=""  ng-click="mes.gastoCostosito(mes.obra_id,mes.mes_id); mes.input();" style="font-size: 15px;">GASTOS DE CAMPOS</a></th>
            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"  style="width: 73px;"><a href=""  ng-click="mes.gastoCostos(mes.obra_id,mes.mes_id)"  style="font-size: 15px;">COSTOS DIRECTOS</a></th>
            </tr>

            <tr role="row">
               <th>
               	<a href="javascript:void(0);" ng-click="mes.agregarIvaPre()" class="btn btn-xs btn-default">IVA</a>
                <a href="javascript:void(0);" ng-click="mes.quitarIvaPre()"  class="btn btn-xs btn-default">SIN IVA</a>
               </th>
               <th></th>
            </tr>

        </thead>
    </table></div>
</div>
</div>						
</div>

		<div class="row col-sm-12">
			<div class="col-sm-3"  ng-show="mes.gastoCosto" >
		<label>COSTOS DIRECTOS <br/>	</label>
		<select ng-click="mes.reiniciar()" id="costo" class="form-control" style="margin-top: 18px"  placeholder="Seleccione" ng-model="mes.periodo.costo_id">
						  <option ng-repeat="costo in mes.costos" value="{{costo._id}}">
						  	{{costo.nombre}}
						  </option>
						  </select>
		   </div>
		   	<div class="col-sm-3" ng-show="!mes.gastoCosto">
		<label>GASTOS DE CAMPOS</label><br/>	
		<input id="gasto" ng-click="mes.reiniciar(); mes.input();"  class="form-control" style="margin-top: 18px"  ng-model="mes.periodo.gasto" readonly>
		     
		   </div>
		 
		
	   <div class="col-sm-2 " ng-show="!mes.preIva" >
	   		<label>COMPRAS DE CREDITO S/IVA</label>
	   		<input type="number" class="form-control"   ng-model="mes.periodo.comprasSinIva">
	   </div>
	   <div class="col-sm-2" ng-show="mes.preIva">
	   		<label>COMPRAS DE CREDITO C/ IVA</label>
	   		<input type="number" class="form-control"    ng-model="mes.periodo.comprasIva">
	   </div><br/>
	  
	    
	   <div class="col-sm-2" ng-show="mes.preIva">
	   		<label>CONTADO C/IVA</label>
	   		<input type="number" class="form-control"   ng-model="mes.periodo.contadoIva">
	    </div>
	    <div class="col-sm-2 " ng-show="!mes.preIva">
	   		<label>CONTADO S/IVA</label>
	   		<input type="number" class="form-control"  ng-model="mes.periodo.contadoSinIva">
	   </div><br/>
	   <br/>
          <div class="col-sm-2" >
	         <input type="submit" style="margin-top: -15px" ng-click="mes.guardarPeriodo(mes.periodo); mes.input();" value="Guardar" class="btn btn-primary" ng-show="mes.period">
	         <input type="submit" ng-click="mes.actualizarPeriodo(mes.periodo);mes.input();" ng-show="!mes.period" value="Actualizar" class="btn btn-primary"><br/>
	       </div> 

	    </div>
	   </div>
	 </div>
	    
	<div class="col-sm-12 " ng-if="mes.mes_id != ''"  >
    <br/><br/>
	<h3>Periodos</h3>	

		<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Tabla</h2>
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
					<thead>
							<tr ng-repeat="periodo in mes.periodos">															
							</tr>
						</thead>
						<tbody ng-show="mes.gastoCosto">
						    <tr>
						        <th>COSTOS DIRECTOS</th>
						        <th>COMPRAS DE CREDITO C/IVA</th>
								<th>COMPRAS DE CREDITO S/IVA</th>
								<th>CONTADO C/IVA</th>
								<th>CONTADO S/IVA</th>
								<th>TOTAL</th>
								<th>ACCIONES</th>
								</tr>
							<tr ng-repeat="periodo in mes.periodos" ng-show="mes.gastoCosto">
						         
								<th> {{mes.getCosto(periodo.costo_id)}} </th>
								<th>{{periodo.comprasIva | currency}}</th>
								<th>{{periodo.comprasSinIva | currency}}</th>
								<th>{{periodo.contadoIva | currency}}</th>
								<th>{{periodo.contadoSinIva | currency}}</th>
								<td>{{periodo.comprasIva + periodo.comprasSinIva + periodo.contadoIva + periodo.contadoSinIva  | currency}}</td>
								<td>
								    <div class="text-center">
											 
										    <a ng-click="mes.editarPeriodo(periodo._id)" style="font-size: 13px;" class="label label-warning" ><i class="fa fa-pencil"></i></a>
										  <a  ng-click="mes.cambiarEstatusPeriodo(periodo._id)" style="font-size: 13px;" class="label label-primary">Desactivar</a>
											 
								    </div>				    
							    </td>

							</tr>
							<tr>
								<th colspan="6">TOTAL FINAL: {{mes.cobroTotalFinalPeriodo() | currency}}</th>
								<th colspan="6"></th>
							</tr>	
							<tr>
							    <th colspan="6">IMPORTE DESGLOSADO: {{(mes.cobroTotalFinalPeriodo()) / 1.16 | currency}} </th>
							</tr>
						</tbody>
						<tbody ng-show="!mes.gastoCosto">
						    <tr>
						        <th>COMPRAS DE CREDITO C/IVA</th>
								<th>COMPRAS DE CREDITO S/IVA</th>
								<th>CONTADO C/IVA</th>
								<th>CONTADO S/IVA</th>
								<th>TOTAL</th>
								<th>ACCIONES</th>
							</tr>
							<tr ng-repeat="periodo in mes.periodos" >
						         

								<th>{{periodo.comprasIva | currency}}</th>
								<th>{{periodo.comprasSinIva | currency}}</th>
								<th>{{periodo.contadoIva | currency}}</th>
								<th>{{periodo.contadoSinIva | currency}}</th>
								<th>{{periodo.comprasIva + periodo.comprasSinIva + periodo.contadoIva + periodo.contadoSinIva  | currency}}</th>
								<td>
								    <div class="text-center">
											 
										    <a ng-click="mes.editarPeriodo(periodo._id)" style="font-size: 13px;" class="label label-warning" ><i class="fa fa-pencil"></i></a>
										  <a  ng-click="mes.cambiarEstatusPeriodo(periodo._id)" style="font-size: 13px;" class="label label-primary">Desactivar</a>
											 
								    </div>				    
							    </td>
							</tr>

							<tr>
								<th colspan="4">TOTAL FINAL: {{mes.cobroTotalFinalPeriodo() | currency}}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
   </div> 
</div>
<!--//////////////////////////////////////////////////PAGOS//////////////////////////////////////////////////////-->
<div class="row" ng-show="!mes.Pagos">				

	<div class="col-sm-12">
      <div class="row"   ng-if="mes.mes_id != ''">
      <br/><br/>



          <div class="jarviswidget well jarviswidget-sortable" id="wid-id-0" role="widget">
<header role="heading">			
<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
<div role="content">
<div class="jarviswidget-editbox">
	<input class="form-control" type="text">	
</div>
<div class="widget-body no-padding">
	<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="dt-toolbar" style="padding: 0px; "></div><table id="example" class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" width="10%" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
            <tr role="row">
               <th>
               	<a href="javascript:void(0);" ng-click="mes.agregarIvaPag()" class="btn btn-xs btn-default">IVA</a>
                <a href="javascript:void(0);" ng-click="mes.quitarIvaPag()"  class="btn btn-xs btn-default">SIN IVA</a>
               </th>
               <th></th>
            </tr>

        </thead>
    </table></div>
</div>
</div>						
</div>




		
		<div class="row col-sm-12">		
	   <div class="col-sm-2" ng-show="mes.pagIva">
	   		<label>Pagos con Iva</label>
	   		<input type="number" class="form-control" ng-model="mes.pagoProveedor.pIva">
	   </div>
	   <div class="col-sm-2" ng-show="!mes.pagIva">
	   		<label>Pagos sin Iva</label>
	   		<input type="number" class="form-control" ng-model="mes.pagoProveedor.pSinIva">
	   </div><br/>
	   <br/>
          <div class="col-sm-2" >
	         <input type="submit" style="margin-top: -15px" ng-click="mes.guardarPago(mes.pagoProveedor);" value="Guardar" class="btn btn-primary" ng-show="mes.pag">
	         <input type="submit" ng-click="mes.actualizarPago(mes.pagoProveedor)" ng-show="!mes.pag" value="Actualizar" class="btn btn-primary"><br/>

	       </div> 

	    </div>
	   </div>
	 </div>
	    
	<div class="col-sm-12 " ng-if="mes.mes_id != ''"  >
    <br/><br/>

	<h3>Pagos a Proveedores</h3>	
	

		<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Tabla</h2>
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
				   
						    <thead>
						    <tr>
						    <th>Pagos con Iva</th>
						    <th>Pagos con Sin Iva</th>
						    <th>TOTAL</th>
						    <th>ACCIONES</th>
						    </tr>
						    </thead>
							<tbody>
							<tr ng-repeat="pagoProveedor in mes.pagosProveedores">
						        <th>{{pagoProveedor.pIva | currency}}</th>
						        <th>{{pagoProveedor.pSinIva | currency}}</th>
						        <th>{{mes.totalPag(pagoProveedor) | currency}}</th>
						        <th>IMPORTE DESGLOSADO: {{(mes.totalPag()) / 1.16 | currency}} </th>
						        <td>
								    <div>
										    <a ng-click="mes.editarPago(pagoProveedor._id)" style="font-size: 13px;" class="label label-warning" ><i class="fa fa-pencil"></i></a>
										  <a  ng-click="mes.cambiarEstatusPago(pagoProveedor._id)" style="font-size: 13px;" class="label label-primary">Desactivar</a>
											 
								    </div>				    
							    </td>
							 

														
							</tr>	

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
   </div> 
</div>
<!--////////////////////////////////////////ESTIMACIONES/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="row" ng-show="!mes.Cobro">				

	<div class="col-sm-12" >
      <div class="row"   ng-if="mes.mes_id != ''">
      <br/><br/>




      <div class="jarviswidget well jarviswidget-sortable" id="wid-id-0" role="widget">
<header role="heading">			
<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
<div role="content">
<div class="jarviswidget-editbox">
	<input class="form-control" type="text">	
</div>
<div class="widget-body no-padding">
	<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="dt-toolbar" style="padding: 0px; "></div><table id="example" class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" width="10%" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
            <tr role="row">
               <th>
               	<a href="javascript:void(0);" ng-click="mes.agregarIvaCobro()" class="btn btn-xs btn-default">IVA</a>
                <a href="javascript:void(0);" ng-click="mes.quitarIvaPreCobro()"  class="btn btn-xs btn-default">SIN IVA</a>
               </th>
               <th></th>
            </tr>

        </thead>
    </table></div>
</div>
</div>						
</div>

		
		<div class="row col-sm-12">		
	   <div class="col-sm-2 " ng-show="mes.cobIva">
	   		<label>Cobros con Iva</label>
	   		<input type="number" class="form-control" ng-model="mes.cobro.cIva">
	   </div>
	   <div class="col-sm-2" ng-show="!mes.cobIva">
	   		<label>Cobros sin Iva</label>
	   		<input type="number" class="form-control" ng-model="mes.cobro.cSinIva">
	   </div><br/>
	   <br/>
          <div class="col-sm-2" >
	         <input type="submit" style="margin-top: -16px;" ng-click="mes.guardarCobro(mes.cobro)" value="Guardar" class="btn btn-primary" ng-show="mes.cob">
	         <input type="submit" ng-click="mes.actualizarCobro(mes.cobro)" ng-show="!mes.cob" value="Actualizar" class="btn btn-primary"><br/>
	       </div> 

	    </div>
	   </div>
	 </div>
	    
	<div class="col-sm-12 " ng-if="mes.mes_id != ''"  >
    <br/>
	<h3>Cobros</h3>	
	

		<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Estimaciones por Cobrar</h2>
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
				   
						   <thead>
						    <tr>
							    <th width="20%"><div class="text-center">Cobros con Iva</div></th>
							    <th width="20%"><div class="text-center">Cobros con Sin Iva</div></th>
							    <th width="20%"><div class="text-center">Total</div></th> 
							    <th width="20%"><div class="text-center">Estatus</div></th>
							    <th width="20%"><div class="text-center">Acciones</div></th>	
						    </tr>
						   </thead>


							<tbody>
							<tr ng-repeat="cobro in mes.cobros">
						        <th><div class="text-center">{{cobro.cIva | currency}}</div></th>
						        <th><div class="text-center">{{cobro.cSinIva | currency}}</div></th>
						        <th><div class="text-center">{{cobro.cIva + cobro.cSinIva | currency}}</div></th>
						        <td>
								    <div class="text-center">
								    	<span ng-if="cobro.modo" style="font-size: 13px;" class="label label-success">
											  Por cobrar
											</span>
											<span ng-if="!cobro.modo" style="font-size: 13px;" class="label label-danger">
											  Pagado
											</span>
								    </div>
							    </td>
						        <td>
				                    <div class="text-center">
									  <a ng-click="obr.editar(obra._id)" style="font-size: 13px;" class="label label-warning"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
									  <a  ng-click="mes.cambiarEstatusCobro(cobro._id)" style="font-size: 13px;" class="label label-primary">Cambiar Estatus</a>
									  <a  ng-click="mes.cambiarEstatusCobros(cobro._id)" style="font-size: 13px;" class="label label-danger"><i class="fa fa-trash"></i></a>
				                    </div>				    
			                    </td>					
							</tr>	
							<tr>
								<th colspan="3">TOTAL FINAL: {{mes.cobroTotalFinal() | currency}}</th>
								<th colspan="2"></th>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
   </div> 
</div>
<!--////////////////////////////////////////////////////////RESUMEN///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="row" ng-show="!mes.Resumen">				
	    
	<div class="col-sm-12 " ng-show="!mes.Resumen" ng-if="mes.mes_id != ''"  >
    <br/>
	<h3>RESUMEN</h3>	
	
		<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Resumen</h2>
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
				   
						   <thead>
						    <tr>
							    <th width="20%"><div class="text-center">Saldo inicial</div></th>
							    <th width="20%"><div class="text-center">Abono</div></th>
							    <th width="20%"><div class="text-center">Cargo</div></th> 
							    <th width="20%"><div class="text-center">Saldo Final</div></th>	
						    </tr>
						   </thead>


							<tbody>
							<tr ng-repeat="cobro in mes.cobros">
						        <th><div class="text-center">{{cobro.cIva | currency}}</div></th>
						        <th><div class="text-center">{{cobro.cSinIva | currency}}</div></th>
						        <th><div class="text-center">{{mes.totalCobro(cobro) | currency}}</div></th>
						        <td>
								    <div class="text-center">
								    	<span ng-if="cobro.modo" style="font-size: 13px;" class="label label-success">
											  Por cobrar
											</span>
											<span ng-if="!cobro.modo" style="font-size: 13px;" class="label label-danger">
											  Pagar
											</span>
								    </div>
							    </td>
						        <td>
				    <div class="text-center">
							   <a ng-click="obr.editar(obra._id)" style="font-size: 13px;" class="label label-warning"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
							  <a  ng-click="mes.cambiarEstatusCobro(cobro._id)" style="font-size: 13px;" class="label label-primary">Cambiar Estatus</a>

				    </div>				    
			    </td>

														
							</tr>	
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
   </div> 
</div>