	<h2>Agregar Tiempo</h2>
  <div class="row">
   <div class="col-sm-12">
		  <div class="col-sm-1">
			<a class="btn btn-primary btn-lg" 
			ng-click="mes.nuevoMes()"><i class="fa fa-plus"></i></a><br/><br>
			  </div>

			   	<div class="col-sm-4">
					    <input placeholder="Asignar fecha" ng-show="mes.accionMes" lang="spanish" date-time class="form-control" view="year" max-view="year" min-view="month" ng-model="mes.mes.fecha"/>
			    	</div>



			<!--<div class="col-sm-4">
			 <input placeholder="Asignar fecha" language='es' class="form-control" type="month" 
				 ng-show="mes.accionMes" ng-model="mes.mes.fecha"/> 
		    </div>-->




		    <div class="col-sm-4">
		       <a class="btn btn-primary" ng-click="mes.guardar(mes.mes)" ng-show="mes.accionMes">
		      Asignar Fecha</a>
		   </div>
   
    </div>
  </div>


  <div class="well">	  
	<div class="row"> 
		<div class="col-sm-12">	
			<div class="col-lg-3" ng-repeat="Mes in mes.meses">
				<a href="#" ng-click="mes.mostrarListas(Mes._id)">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-6">
								  <i class="fa fa-bars fa-5x"></i>
								</div>
								<div class="col-xs-6 text-right">
								  <h1 style="font-size:40pt;"><strong></strong></h1>
								  <p class="announcement-text">{{Mes.mes | date:"MMMM-yyyy"}}</p>
								</div>
							</div>
						</div>
						<div class="panel-footer announcement-bottom">
							<div class="row">
							  <div class="col-xs-6" >
							    Ver...
							  </div>
							  <div class="col-xs-6 text-right">
							    <i class="fa fa-arrow-circle-right"  ng-click="mes.cambiarEstatus(Mes._id)"></i>
							  </div>
							</div>
						</div>
					</div>
				</a>
			</div> 
		</div>
	</div> 
</div>
 

<br/>

<!--/////////////////////////////////////////////////////PRESUPUESTOS//////////////////////////////////////////////////////////////-->

<div class="well">

<a href="" ng-show="!mes.action"   ng-click="mes.mostrarArchivos(mes.mes_id)" class="pull-left">Lista de Presupuestos</a>&nbsp;
	&nbsp;&nbsp;&nbsp;<a href=""  ng-click="mes.mostrarPeriodo(mes.mes_id)" ng-show="!mes.action" class="">Lista de Periodos</a>

<div class="row" ng-show="!mes.accionPresupuesto">				
	<div class="col-sm-12">
	

		<h3 class="dark-grey"  ng ng-if="mes.mes_id != ''">Lista de Partidas</h3>
	<div class="row" ng-if="mes.mes_id != ''">
			<div class="col-sm-4">
				<ul class="list-group no-margin">
					<li ng-repeat="partida in mes.partidas" class="list-group-item">
						<a href="" ng-click="mes.mostrarPresupuestos(partida._id)" >{{partida.nombre}}</a>
					</li>
				</ul>
			</div>
			


		
		<div class="row">	
		<div class="col-sm-6 ">
		<label>Lista de Conceptos</label>	
		<select  id="concepto" class="form-control" placeholder="Seleccione" ng-model="mes.presupuesto.concepto_id">
						  <option ng-click="selectDepa" ng-repeat="concepto in mes.conceptos" value="{{concepto._id}}">
						  	{{concepto.nombre}}
						  </option>
						</select>
		   </div>
	   <div ng-repeat="(key, costo) in mes.costos" class="col-sm-2 ">
	   		<label for="{{key}}">{{costo.nombre}}</label>
	   		<input id="{{key}}" class="form-control" ng-model="costo.value">
	   </div>	
	   </div>
          <div class="col-sm-12 col-sm-offset-9">
	         <input type="submit" ng-click="mes.guardarPresupuesto(mes.costos)" value="Guardar" class="btn btn-primary"><br/>
	       </div>   
	   </div>
	   </div>

	     
	  
	<div class="col-sm-8 col-sm-offset-4"  ng-if="mes.mes_id != ''" >
	<h3>Presupuestos</h3>	
	<br/>
		<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Tabla</h2>
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
					<thead>
							<tr>
								<th>CONCEPTO</th>
								<th></th>
								
							
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="presupuesto in mes.presupuestos">
								<td>{{mes.getConcepto(presupuesto.concepto_id)}}</td>
								<td ng-repeat="costo in presupuesto.costos">{{costo.value | currency}}</td>
								<td>{{mes.totalPre(presupuesto.costos) | currency}}</td>
								<!--<td ng-repeat="presupuesto in mes.presupuestos"><input type="text"  class="form-control" placeholder="Correo" ng-model="mes.presupuesto.total" ></td>-->
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
   </div> 
</div>
<!--///////////////////////////////////////////////////////////PERIODOS/////////////////////////////////////////////////////////-->
<div class="row" ng-show="!mes.accionPeriodo">				
	<div class="col-sm-12">
	

		<h3 class="dark-grey" ng ng-if="mes.mes_id != ''">Lista de Partidas</h3>
	<div class="row"   ng-if="mes.mes_id != ''">
			<div class="col-sm-4">
				<ul class="list-group no-margin">
					<li ng-repeat="partida in mes.partidas" class="list-group-item">
						<a href="" ng-click="mes.mostrarPresupuestos(partida._id)" >{{partida.nombre}}</a>
					</li>
				</ul>
			</div>
		
		<div class="row">
			<div class="col-sm-3 ">
		<label>Costos</label>	
		<select  id="costo" class="form-control" placeholder="Seleccione" ng-model="mes.periodo.costo_id">
						  <option ng-click="selectDepa" ng-repeat="costo in mes.costos" value="{{costo._id}}">
						  	{{costo.nombre}}
						  </option>
						</select>
		   </div>
		   	<div class="col-sm-3 ">
		<label>Gastos</label>	
		<select  id="gasto" class="form-control" placeholder="Seleccione" ng-model="mes.periodo.gasto_id">
						  <option ng-click="selectDepa" ng-repeat="gasto in mes.gastos" value="{{gasto._id}}">
						  	{{gasto.nombre}}
						  </option>
						</select>
		   </div>	
	   <div class="col-sm-2 ">
	   		<label>COMPRAS DE CREDITO S/IVA</label>
	   		<input type="number" class="form-control" ng-model="mes.periodo.comprasIva">
	   </div>
	   <div class="col-sm-2">
	   		<label>COMPRAS DE CREDITO C/ IVA</label>
	   		<input type="number" class="form-control" ng-model="mes.periodo.comprasSinIva">
	   </div>
	   <br/>
	   <div class="col-sm-2 ">
	   		<label>CONTADO S/IVA</label>
	   		<input type="number" class="form-control" ng-model="mes.periodo.contadoIva">
	    </div>
	    <div class="col-sm-2 ">
	   		<label>CONTADO C/IVA</label>
	   		<input type="number" class="form-control" ng-model="mes.periodo.contadoSinIva">
	   </div>	
	   </div>
          <div class="col-sm-12 col-sm-offset-9">
	         <input type="submit" ng-click="mes.guardarPeriodo(mes.periodo)" value="Guardar" class="btn btn-primary"><br/>
	       </div>   
	   </div>
	   </div>
	  
	<div class="col-sm-8 col-sm-offset-4" ng-if="mes.mes_id != ''" >
	<h3>Periodos</h3>	
	<br/>
		<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">						
		<header role="heading"><div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Tabla</h2>
		<span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content" style="display: block;">
			<div class="widget-body no-padding">
				<div class="table-responsive">			
						
					<table class="table table-hover">
					<thead>
							<tr ng-repeat="periodo in mes.periodos">
							 
								
															
							</tr>
						</thead>
						<tbody>
						    <tr>
						        <td>COSTOS</td>
						        <th>COMPRAS DE CREDITO S/IVA</th>
								<th>COMPRAS DE CREDITO C/ IVA</th>
								<th>CONTADO S/IVA</th>
								<th>CONTADO C/IVA</th></tr>
							<tr ng-repeat="periodo in mes.periodos">
						         
								<td> {{mes.getCosto(periodo.costo_id) || mes.getGasto(periodo.gasto_id )}} </td>
								<th >{{periodo.comprasIva | currency}}</th>
								<th >{{periodo.comprasSinIva | currency}}</th>
								<th >{{periodo.contadoIva | currency}}</th>
								<th >{{periodo.contadoSinIva | currency}}</th>
								<!--<td ng-repeat="presupuesto in mes.presupuestos"><input type="text"  class="form-control" placeholder="Correo" ng-model="mes.presupuesto.total" ></td>-->
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
   </div> 
</div>
</div>