<h2>Planes</h2>
<div class="row"><!-- {pl.totalIngresos[0].total | currency}}-> ag10 -->
	<div class="col-sm-12">
		<a class="btn btn-{{pl.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoplan" ng-click="pl.nuevoPlan()">
		 {{pl.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
<!-- Primera Parte -->
		  	 <div class="well">
		  	 	
			    <div class="row">
			    <div class="col-sm-12">
			    <h1>Seccion para calcular precio</h1>
			    <br/>
			        <div class="col-sm-3">
					    <label>Egresos</label>
				    	<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.egresos" >
				    </div>

				    <div class="col-sm-2">
				     <div class="form-group">
				     	TREMA
					    <a class="pull-left" data-toggle="popover" data-placement="top" data-content="Tasa de rendimiento minima aceptable"> <i class="fa fa-info-circle" aria-hidden="true"></i></a><br/>
					    <div class="input-group">
					      <div class="input-group-addon">%</div>
					      	<input type="number" class="form-control" placeholder="TREMA" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.trema2" >
					     <!--  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount"> -->
					    </div>
					 </div>
					</div>
					<div class="col-sm-2">
					    <label for="domicilio">ISR</label>
				    	<input type="number" class="form-control" placeholder=""  ng-model="pl.plan.isr2" >
			    	</div> 
			    	<div class="col-sm-3">
					    <label for="domicilio">Factor de Recuperación</label>
				    	<div class="form-control">{{1/(1-((100/(100 -(10 + pl.plan.isr2)))*(pl.plan.trema2/100)))| number : 2}}</div>
			    	</div>
			    	
			    	<div class="col-sm-2">
					    <label>Precio de Venta</label>
				    	<div class="form-control">{{pl.plan.egresos * (1/(1-((100/(100 -(10 + pl.plan.isr2)))*(pl.plan.trema2/100))))| number : 2}}</div>
				    </div>
				    <!-- <div class="col-sm-2">
					    <label>Precio de Venta</label>
				    	<div class="form-control">{{pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100| number : 2}}</div>
				    </div> -->
				    
				
				    </div>
		        </div>
		


      <!--     //////////////////////////////PRIMER ROW//////////////////////////////// -->				    
                 <br/>
                 <div class="row">
	                 <div class="col-sm-12"> 
	                 <h1>Seccion para calcular egresos</h1>
	                 <br/>
	                  <div class="col-sm-3">
					    <label>Precio de Venta</label>
				    	<input type="number" class="form-control" placeholder=""  ng-model="pl.plan.ingresos" >
				    </div>

				    <div class="col-sm-2">
				     <div class="form-group">
				     	TREMA
					    <a class="pull-left" data-toggle="popover" data-placement="top" data-content="Tasa de rendimiento minima aceptable"> <i class="fa fa-info-circle" aria-hidden="true"></i></a><br/>
					    <div class="input-group">
					      <div class="input-group-addon">%</div>
					      	<input type="number" class="form-control" placeholder="TREMA" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.trema" >
					     <!--  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount"> -->
					    </div>
					 </div>
					</div>
					<div class="col-sm-2">
					    <label for="domicilio">ISR</label>
				    	<input type="number" class="form-control" placeholder=""  ng-model="pl.plan.isr" >
			    	</div> 
			    	<div class="col-sm-3">
					    <label for="domicilio">Factor de Recuperación</label>
				    	<div class="form-control">{{1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))| number : 2}}</div>
			    	</div>
				    <div class="col-sm-2">
					    <label>Total de Egresos</label>
				    	<div class="form-control">{{pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100| number : 2}}</div>
				    </div>
				    </div>
				    </div>


		



				    <div class="row">
				    <div class="col-sm-12">
						    <div class="col-sm-2">
						     <div class="form-group">
							    <label>Relacion % Cd/Ingresos</label>
							    <div class="input-group">
							      <div class="input-group-addon">%</div>
							      <div class="form-control" id="exampleInputAmount">{{(pl.totalFinalCostosDirectos) / (pl.plan.ingresos) * 100 | number : 2}}</div>
							     <!--  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount"> -->
							    </div>
							 </div>
							</div>

					    	<div class="col-sm-2">				    	
							    <label>Costo Directo</label>

									<div style="width: 150px;" class="form-control">{{pl.totalFinalCostosDirectos | currency}}</div>
			
						    </div>
					    	<div class="col-sm-2">				    	
							    <label>Gastos Indirectos</label>
						    	<div class="form-control">{{(pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)  | number : 2}}</div>
						    </div>
					    </div>
					  </div>
				   
			    <br/><br/>

			    		        <div class="row">
			    <div class="col-sm-12">
			    <h1>Seccion para calcular precio de venta</h1>
			    <br/>
			        <div class="col-sm-3">
					    <label>Egresos</label>
				    	<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.egresos2" >
				    </div>

				    <div class="col-sm-2">
				     <div class="form-group">
				     	TREMA
					    <a class="pull-left" data-toggle="popover" data-placement="top" data-content="Tasa de rendimiento minima aceptable"> <i class="fa fa-info-circle" aria-hidden="true"></i></a><br/>
					    <div class="input-group">
					      <div class="input-group-addon">%</div>
					      	<input type="number" class="form-control" placeholder="TREMA" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.trema3" >
					     <!--  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount"> -->
					    </div>
					 </div>
					</div>
					<div class="col-sm-2">
					    <label for="domicilio">ISR</label>
				    	<input type="number" class="form-control" placeholder=""  ng-model="pl.plan.isr3" >
			    	</div> 
			    	<div class="col-sm-3">
					    <label for="domicilio">Factor de Recuperación</label>
				    	<div class="form-control">{{1/(1-((100/(100 -(10 + pl.plan.is3)))*(pl.plan.trema3/100)))| number : 2}}</div>
			    	</div>
			    	
			    	<div class="col-sm-2">
					    <label>Precio de Venta</label>
				    	<div class="form-control">{{pl.plan.egresos2 * (1/(1-((100/(100 -(10 + pl.plan.isr3)))*(pl.plan.trema3/100))))| number : 2}}</div>
				    </div>
				    <!-- <div class="col-sm-2">
					    <label>Precio de Venta</label>
				    	<div class="form-control">{{pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100| number : 2}}</div>
				    </div> -->
				    
				
				    </div>
		        </div>
<!-- ////////////////////////////////////////////////////TABLA////////////////////////////////////////////////////////
 -->			     <div class="row">
					<div class="col-sm-9">
						<table class="table table-bordered">
							<thead>
								<tr>
								<th width="20%"><div class="text-center">Ingresos</div></th>
								<td width="20%">{{pl.plan.ingresos | currency}} </td>
								<tr>
							    <th  width="20%"><div class="text-center">Costos</div></th>
							     <td width="20%">{{pl.totalFinalCostosDirectos | currency}}</td>
							    
							    </tr> 
							    <tr>
							    <th  width="20%"><div class="text-center">Gastos</div></th>
							    <td  width="20%">{{(pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)  | number : 2}}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%"><div class="text-center">Utilidad Fiscal</div></th>
							    <td  width="20%">{{(pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)) | currency }} </td> 
							    
							    </tr>
							    <tr>
							    <th  width="20%"><div class="text-center">ISR</div></th>
							    <td  width="20%">{{((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * 0.3 | number : 2 }}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%"><div class="text-center">PTU</div></th>
							    <td  width="20%">{{((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * 0.1 | currency}}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%"><div class="text-center">Utilidad Neta</div></th>
							    <td  width="20%">{{(((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) - 
							    (((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * 0.3)-
							     (((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * 0.1 ))  | currency}}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%"> <div class="text-center">Rentabilidad</div></th>
							    <td  width="20%">{{(((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) - 
							    (((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * 0.3)-
							     (((pl.plan.ingresos) - (pl.totalFinalCostosDirectos) - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * 0.1 )) / pl.plan.ingresos * 100 | number:2}}%</td>
							    
							    </tr>
								</tr>
							</thead>
						</table>
					</div>
				</div>
		  	</div>
<!-- Distribucion de Gastos -->
		  	<div class="well">
					<h2 style="text-align: center">Gastos Indirectos</h2>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Gastos de Oficina</label>
						    </div>
						    <div class="col-sm-2">
					    		<div class="form-control">{{pl.indirectosEmpresas[1].cantidades  | currency}}</div>
						    </div>

						    <div class="col-sm-2">
							     <div class="form-group">
								    <div class="input-group">
								      <div class="input-group-addon">%</div>
								       <input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.gastosFijosOficina1" >
								    </div>
								 </div>
							</div>

						   <!--  <div class="col-sm-1">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.gastosFijosOficina1" >%
						    </div> -->
						    <div class="col-sm-2">
									<div class="form-control">{{(pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Gastos Indirectos de Campo</label>
						    </div>
						    <div class="col-sm-2" >
								<div class="form-control">{{((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)) - pl.indirectosEmpresas[1].cantidades  | currency }}</div>
						    </div>


						     <div class="col-sm-2">
							     <div class="form-group">
								    <div class="input-group">
								      <div class="input-group-addon">%</div>
								       <input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.gastosIndirectosCampo1" >
								    </div>
								 </div>
							</div>


						    <!-- <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.gastosIndirectosCampo1" >
						    </div> -->


						    <div class="col-sm-2">
									<div class="form-control">{{
								 (((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))  | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Total</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.indirectosEmpresas[1].cantidades +  (((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)) - pl.indirectosEmpresas[1].cantidades) | currency }}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{hola}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) | number:2 }}</div>
						    </div>
						   <!--  <div class="col-sm-2">
									<div class="form-control">{{((((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100) + ((pl.indirectosEmpresas[1].GasIndiCampo) - (pl.indirectosEmpresas[1].GasIndiCampo * pl.plan.gastosIndirectosCampo1)/100)) / (pl.plan.ingresos)) * 100| currency}}</div>
						    </div> -->
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Costos Directos -->
<div class="well">
		<h2 style="text-align: center">Plan de reduccion de costos directos</h2><br/>
	
					<br/>
			
							<table style="width:80%">
							<thead>
														
									<tr style="height: 50px;" ng-repeat="costo in pl.costosTotales">
										<td>{{costo.costo}}</td><br/>
										<td>
											<div class="col-sm-12">
											<label>Porcentaje</label>
												<div style="width: 80px;" class="form-control">{{(costo.total) / (pl.totalFinalCostosDirectos)*100 | number : 2}}%</div>
						    				</div>
						    			</td>
										<td >
										 	<div class="col-sm-12">
										 	<label>Presupuesto Base</label>
					    						<div style="width: 150px;" class="form-control">{{costo.total | currency}}</div>
						    				</div>
						    			</td>
						    			<!-- <td>
											<div class="col-sm-4">
						    						<input type="number" style="width: 150px;" class="form-control"   ng-model="cos.factor"  >%
							  			    </div>
									    </td> -->
						  			    <td>
						  			    	<div class="col-sm-12">
						  			    	<label>Presupuesto Ajustado</label>
												<div style="width: 150px;" class="form-control">{{costo.presupuestoTotal | currency}}</div>
						    				</div><!-- costo.presupuestoTotal -->
						    			</td>	    			
									</tr>
									</thead>
									<tbody>
									<tr>
									<th></th>
										<th>
										 <div class="col-sm-12">
										     <div class="form-group">
										     <label>Total</label>
											    <div class="input-group">
											      <div class="input-group-addon">%</div>
											       <div style="width: 100px;" class="form-control">{{pl.costoTotalTotal.totalDePorcentaje}}</div>
											    </div>
											 </div>
							            </div>

											<!-- <div class="col-sm-12">
												<label>Total</label>
												<div style="width: 100px;" class="form-control">{{pl.costoTotalTotal.totalDePorcentaje}}</div>
						    				</div> -->	
										</th>
										<th>
										<div class="col-sm-12">
										 <div class="form-group">
										<label>Total</label>
										<div class="input-group">
												<div style="width: 150px;" class="form-control">{{pl.totalFinalCostosDirectos | currency}}</div>
												</div>
						    				</div>
						    				</div>									    
										</th>
										<th>
										<div class="col-sm-12">
										 <div class="form-group">
										<label>Total</label>
										<div class="input-group">
												<div style="width: 150px;" class="form-control">{{pl.costoTotalPres.totalpreFinal | number : 2 }}</div>
												</div>
						    				</div>
						    				</div>									    
										</th>
									</tr>
									</tbody>	
							</table>






                    <div class="row">
							<div class="col-sm-12"><!-- (Poner %) -->
				<div ng-repeat="(key, costo) in pl.costos" style="margin-top: 2px" class="col-sm-4 ">
				<div class="form-group">
						<label for="{{key}}">{{costo.nombre}}</label>
						 <div class="input-group">
						 <div class="input-group-addon">%</div>
							
							<input type="number" id="{{key}}" class="form-control" ng-model="costo.factor">
							 </div>
						</div>
					</div>
					</div>
					</div>
					<div class="row" ng-repeat="plan in pl.planes">
						<br>
						<div class="col-sm-12">

						<input type="submit" ng-click="pl.editarCambios(plan._id)" value="Editar" class="btn btn-primary" ng-show="pl.editCam" >
							
							<input type="submit" ng-click="pl.actualizarCambios(pl.plan,pl.costos,plan._id)" value="Actualizar Cambios" class="btn btn-primary" >
						</div>
					</div>









						</div>
<!-- Estadistica de Gastos y Productividad 
		  	<div class="well">
			  	<div class="row">
						<div class="col-sm-6">
							<h2 style="text-align: left">Estadistica de Gastos Indirectos para la Obra</h2>
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-6" >
											<label>Presupuesto de Indirecto Total</label>
									  </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.indirectosEmpresas[1].total | currency}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Gastos de Oficina Mensual</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control"   ng-model="pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos" >
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Gastos de Oficina Estadisticos para la Obra</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.indirectosEmpresas[1].estadisticos | currency}}</div>
								    </div>
									</div>
						    </div>
					    </div>
				    </div>
			  	</div>
		  	</div> -->
<!-- Ultima Tabla -->
		  	<div class="well">
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Si la obra se ejecuto en</label>
						    </div>
						    <div class="col-sm-1">
						    <label>Meses</label>
					    		<input type="number" class="form-control"   ng-model="pl.plan.meses" >
						    </div>
						
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Nuevo presupuesto de Gastos Indirectos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.indirectosEmpresas[1].estadisticos / pl.plan.meses | currency }}</div>
								</div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Ajuste presupuestal de Indirectos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses) | currency}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Anticipo de Obra</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control"  ng-model="pl.plan.anticipoObras" >
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.ingresos * pl.plan.anticipoObras / 100 | currency}}</div>
						    </div>
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Estado de Resultado -->
<!-- ///////////////////////////////////////TABLA////////////////////////////////////-->	
            <div class="well">			 
                <div class="row">
					<div class="col-sm-12">
					<h3>Estado de resultados ajustados</h3>
						<table class="table table-bordered">
							<thead>
							<tr>
							<th>Estados de resultados</th>
							<th>Proyectado</th>
							<th>Actual</th>
							</tr>
								<tr>
								<th width="20%"><div class="text-center">Ingresos</div></th>
								<td width="20%">{{pl.plan.ingresos | currency}} </td>
								<td width="20%"> {{pl.jaime[0].total | currency}}</td>
								<tr>
							    <th  width="20%"><div class="text-center">Costos</div></th>
							     <td width="20%">{{pl.costoTotalPres.totalpreFinal | currency}} </td>
							     <td width="20%">{{pl.jaime[0].costo | currency}} </td> 
							    </tr> 
							    <tr>
							    <th  width="20%"><div class="text-center">Gastos</div></th>
							    <td  width="20%">{{((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) | currency }}

							    </td>
							     <td  width="20%">{{pl.jaime[0].gastosEstado | currency}} </td> 
							    </tr>
							    <tr>
							  
							    <th  width="20%"><div class="text-center">Utilidad Fiscal</div></th>
							    <td  width="20%">{{(pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses) | currency}} </td> 
							    
							   <td  width="20%">{{pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado | currency }} </td> 

							    </tr>
							    <tr>
							    <th  width="20%"><div class="text-center">ISR</div></th>
							    <td  width="20%">{{((pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses)) * pl.plan.isr / 100 | currency}}</td>

							     <td  width="20%">{{(pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) * (pl.plan.isr /100) | currency}} </td> 

							    </tr>
							    <tr>
							    <th  width="20%"><div class="text-center">PTU</div></th>
							    <td  width="20%">{{((pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses)) * 10/100 | currency }}</td>

							     <td  width="20%">{{(pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) * (10 / 100) | currency}}  </td>

							    </tr>
							    <tr>
							    <th  width="20%"><div class="text-center">Utilidad Neta</div></th>
							    <td  width="20%">{{(pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses)
							     
							     - (((pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses)) * pl.plan.isr / 100)

							    -(((pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses))) * 10/100 | currency}}
							      </td>

							    <td  width="20%">{{(pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) - ((pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) * (pl.plan.isr /100)) - ((pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) * (10 / 100)) | currency}} </td> 

							    </tr>
							    <tr>
							    <th  width="20%"> <div class="text-center">Rentabilidad</div></th>
							    <td  width="20%">{{(pl.plan.ingresos) / 
							    ((pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses)
							     
							     - (((pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses)) * pl.plan.isr / 100)

							    -(((pl.plan.ingresos) - (pl.costoTotalPres.totalpreFinal) - 
							    (((pl.indirectosEmpresas[1].cantidades) - (pl.indirectosEmpresas[1].cantidades * pl.plan.gastosFijosOficina1 )/ 100)
									+ 
									(((pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos))) * pl.plan.gastosIndirectosCampo1)/100) - (pl.indirectosEmpresas[1].cantidades  - ((pl.plan.ingresos/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100) -  (pl.totalFinalCostosDirectos)))) - 
									(pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos) - (pl.indirectosEmpresas[1].estadisticos / pl.plan.meses))) * 10/100)
							    | number: 2}}%</td>

							    <td  width="20%">{{pl.jaime[0].total / ((pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) - ((pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) * (pl.plan.isr /100)) - ((pl.jaime[0].total - pl.jaime[0].costo - pl.jaime[0].gastosEstado) * (10 / 100))) | currency}} </td>
							    
							    </tr>
								</tr>
							</thead>
						</table>
					</div>
				</div>

			 <br/>
					<div class="row">
						<br>
						<div class="col-sm-12">
							<input type="submit" ng-click="pl.guardar(pl.costos)" value="Guardar" class="btn btn-primary" ng-show="pl.action">
							<input type="submit" ng-click="pl.actualizar(pl.plan,pl.costos)" value="Actualizar" class="btn btn-primary" ng-show="!pl.action">
						</div>
					</div>
		    	</div>
		  </form>
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th width="20%"><div class="text-center">Obra</div></th>

			    <th width="20%"><div class="text-center">Ingresos</div></th>
			    <th width="20%"><div class="text-center">Anticipo de Obra</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="30%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="plan in pl.planes">
			    <td>{{pl.obra.nombre}} </td>
			    <td>{{plan.ingresos | currency}} </td>
			    <td>{{plan.anticipoObras | currency}} </td> 
			    <td>
				    <div class="text-center">
				    	<span ng-if="plan.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!plan.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
				    <a class="btn btn-default" href="#" ng-click="pl.editar(plan._id)"><i class="fa fa-eye"> Ver Plan</i></a>
					    <div class="btn-group">
					    
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="pl.editar(plan._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							   <li><a href="#" ng-click="pl.cambiarEstatus(plan._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							 
							    
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>


	</div>
</div>



