<h2>Planes</h2>
<div class="row">{{pl.totalIngresos[0].total | currency}}
	<div class="col-sm-12">
		<a class="btn btn-{{pl.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoplan" ng-click="pl.nuevoPlan()">
		 {{pl.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
<!-- Primera Parte -->
		  	<div class="well">	    
			    <div class="row">
				    <div class="col-sm-6">
					    <label>Ingresos</label>
				    	<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.ingresos" required>
				    </div>
				    <div class="col-sm-6">
					    <label>TREMA(Tasa de rendimiento minima aceptable)</label>
				    	<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.trema" required>
				    </div>
			    	<div class="col-sm-6">
					    <label>ISR</label>
				    	<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.isr" required>
				    </div>
			    	<div class="col-sm-6">
					    <label>PTU</label>
				    	<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.ptu" required>
				    </div>
			    	<div class="col-sm-6">
					    <label for="domicilio">Factor de Recuperación</label>
				    	<div class="form-control">{{pl.plan.factorRecuperacion | number : 2}}</div>
			    	</div>
				    <div class="col-sm-6">
					    <label>Total de Egresos</label>
				    	<div class="form-control">{{pl.plan.totalEgresos | number : 2}}</div>
				    </div>
			    	<div class="col-sm-6">				    	
					    <label>Relacion % Cd/Ingresos</label>
				    	<div class="form-control">{{pl.plan.relacionCdIngresos | number : 2}}</div>
				    </div>
			    	<div class="col-sm-6">				    	
					    <label>Costo Directo</label>
				    	<div class="form-control">{{pl.plan.costosDirecto | number : 2}}</div>
				    </div>
			    	<div class="col-sm-6">				    	
					    <label>Gastos Indirectos</label>
				    	<div class="form-control">{{pl.plan.gastosIndirectos | number : 2}}</div>
				    </div>
			    </div>
		  	</div>
<!-- Distribucion de Gastos -->
		  	<div class="well">
					<h2 style="text-align: center">Gastos Indirectos</h2>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Gastos de Oficina</label>
						    </div>
						    <div class="col-sm-2"	>
					    		<div class="form-control">{{pl.plan.gastosFijosOficina | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.gastosFijosOficina1" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.gastosFijosOficina2 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Gastos Indirectos de Campo</label>
						    </div>
						    <div class="col-sm-2" >
								<div class="form-control">{{pl.obra.gastosPCampo}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.gastosIndirectosCampo1" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.gastosIndirectosCampo2 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Total</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.dgtotal | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.dgtotal1 | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.dgtotal2 | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.dgtotal3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Costos Directos -->

			<div class="well">
					<h2 style="text-align: center">Costos Directos</h2>
			    <div class="row">
			     <div class="col-sm-12">
						<div class="row">
							<table style="width:80%">
							<thead>
								  <tr>
								    <td></td>
								  </tr>
								<tbody>
								<div class="col-sm-8">
									<tr style="height: 50px;" ng-repeat="costo in pl.costos">
										<td>{{costo.nombre}}</td><br/>
										<td>
											<div class="col-sm-12">
												<div class="form-control">{{pl.plan.costosDirectosMateriales | number : 2}}</div>
						    				</div>
						    			</td>
										<td><div class="col-sm-12">
											<div class="form-control">{{pl.plan.costosDirectosMateriales | number : 2}}</div>
						    				</div>
						    			</td>
						    			<td><div class="col-sm-12">
					    					<input type="number" style="width: 150px;" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosMateriales2" required>
						  					 </div>
						  			    </td>
						  			    <td><div class="col-sm-12">
											<div class="form-control">{{pl.plan.costosDirectosMateriales3 | number : 2}}</div>
						    				</div>
						    			</td>
									</tr>
									</div>
								</tbody>
							</thead>
							</table>		   
						</div>
				    </div>
			    </div>
			</div>
		  	<div class="well">
					<h2 style="text-align: center">Costos Directos</h2>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Materiales</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosMateriales | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosMateriales1" required>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosMateriales2" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosMateriales3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Maquinaria</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosMaquinarias | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosMaquinarias1" required>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosMaquinarias2" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosMaquinarias3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Mano de Obra</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosManoObra | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosManoObra1" required>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosManoObra2" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosManoObra3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Combustible, Fletes y Transportes</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosCombustibleFleteTransporte | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosCombustibleFleteTransporte1" required>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosCombustibleFleteTransporte2" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosCombustibleFleteTransporte3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Rentas</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosRentas | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosRentas1" required>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosRentas2" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosRentas3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Subcontratos</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosSubcontratos | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosSubcontratos1" required>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosSubcontratos2" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosSubcontratos3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Gastos Varios</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosGastosVarios | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosGastosVarios1" required>
						    </div>
						    <div class="col-sm-2">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.costosDirectosGastosVarios2" required>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosGastosVarios3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
					<div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Total</label> 
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosTotal | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosTotal1 | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosTotal2 | number : 2}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{pl.plan.costosDirectosTotal3 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Estadistica de Gastos y Productividad -->
		  	<div class="well">
			  	<div class="row">
						<div class="col-sm-6">
							<h2 style="text-align: left">Estadistica de Gastos Indirectos para la Obra</h2>
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-6">
											<label>Presupuesto de Indirecto Total</label>
									  </div>
								    <div class="col-sm-6">
<!-- 											<div class="form-control">{{pl.plan.estadisticaGastosIndirectosObraPresupuestoIndirectoTotal}}</div> -->
							    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.estadisticaGastosIndirectosObraPresupuestoIndirectoTotal" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Gastos de Oficina Mensual</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Gastos de Oficina Estadisticos para la Obra</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.estadisticaGastosIndirectosObraGastosFijosOficina}}</div>
								    </div>
									</div>
						    </div>
					    </div>
				    </div>
			  	</div>
		  	</div>
<!-- Tabla de ingresos, gastos -->
		  	<div class="well">
			  	<div class="row">
						<div class="col-sm-6">
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-4">
											<label>Ingresos</label>
									  </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.ingresos | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Gastos</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.gastosIndirectos | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>ISR</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.isr1 | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Utilidad Neta</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.utilidadNeta | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
				    </div>
						<div class="col-sm-6">
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-4">
											<label>Costos</label>
									  </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.costosDirecto | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Utilidad Fisica</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.utilidadFisica | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>PTU</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.ptu1 | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Rentabilidad</label>
								    </div>
								    <div class="col-sm-6">
											<div class="form-control">{{pl.plan.rentabilidad | number : 2}}</div>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
				    </div>
			  	</div>
		  	</div>
<!-- Ultima Tabla -->
		  	<div class="well">
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Si la obra se ejecuto en</label>
						    </div>
						    <div class="col-sm-4">
							    
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.meses" required>
						    </div>
						    <div class="col-sm-4">
									<label>Meses</label>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Nuevo presupuesto de Gastos Indirectos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.nuevoPresupuestoGastosIndirectos | number : 2}}</div>
								</div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Ajuste presupuestal de Indirectos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.ajustePresupuestalIndirectos | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Anticipo de Obra</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.anticipoObras" required>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.porcentajeObras | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Estado de Resultado -->
		  	<div class="well">
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<h2>Estado de Resultado</h2>
						    </div>
						    <div class="col-sm-4">
									<h2>Proyectado</h2>
						    </div>
						    <div class="col-sm-4">
									<h2>Actual</h2>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Ingresos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.ingresos | number : 2}}</div>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ingresoActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Costos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.costosDirectosTotal3 | number : 2}}</div>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.costoActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Gastos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.gastosProyectado | number : 2}}</div>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.gastosActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Utilidad Fiscal</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.utilidadFisicaProyectado | number : 2}}</div>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadFisicaActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>ISR</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.isrProyectado | number : 2}}</div>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.isrActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>PTU</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.ptuProyectado | number : 2}}</div>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ptuActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Utilidad Neta</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.utilidadNetaProyectado | number : 2}}</div>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadNetaActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Rentabilidad</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.rentabilidad1 | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Saldo Disponible</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.saldoDisponible | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Cuentas por Pagar</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.cuentasPorPagar | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>IVA por Pagar</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.ivaPorPagar | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Estimaciones por Cobrar</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{pl.plan.estimacionPorCobrar | number : 2}}</div>
						    </div>
							</div>
				    </div>
			    </div>

			    <br/>
					<div class="row">
						<br>
						<div class="col-sm-12">
							<input type="submit" ng-click="pl.guardar(pl.plan)" value="Guardar" class="btn btn-primary" ng-show="pl.action">
							<input type="submit" ng-click="pl.actualizar(pl.plan)" value="Actualizar" class="btn btn-primary" ng-show="!pl.action">
						</div>
					</div>
		  	</div>
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
			    <th width="30%"><div class="text-center">Obra</div></th>
			    <th width="30%"><div class="text-center">Plan</div></th>
			    <th width="10%"><div class="text-center">Ingresos</div></th>
			    <th width="10%"><div class="text-center">Porcentaje</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="plan in pl.planes">

			    <td>{{plan.obra}} </td>
			    <td>{{plan.plan}} </td>
			    <td>{{plan.ingresos}} </td>
			    <td>{{pl.plan.porcentajeObras | number : 2}} </td> 
			    <td>
				    <div class="text-center">
				    	<span ng-if="plan.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!plan.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="pl.editar(plan._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							   <li><a href="#" ng-click="pl.cambiarEstatus(plan._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							    <!--<li><a href="/planes" ng-click="remove(planes)"><span class="fa fa-trash"> Eliminar</span></a></li>-->
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
		    <tr><th>{{pl.plan.porcentajeObras | number : 2}}</th></tr>
			</tbody>
		</table>
	</div>
</div>