<h2>Planes</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{pl.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoplan" ng-click="pl.nuevoPlan()">
		 {{pl.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
<!-- Primera Parte -->
		  	<div class="well">	    
			    <div class="row">
			    <div class="col-sm-3" >
					<label>Obra</label>
					<select class="form-control select2"  placeholder="Seleccione " ng-model="pl.plan2.obra_id">
						  <option></option>
						  <option   ng-repeat="obra in pl.obras" value="{{obra._id}}">
						  	{{obra.nombre}}
						  </option>
						</select>
		        </div>
				    <div class="col-sm-2">
					    <label>Precio del Proyecto</label>
				    	<input type="number" class="form-control" placeholder="" ng-model="pl.plan2.precioProyecto" >
				    </div>
				     <div class="col-sm-2">
					    <label>Ingresos</label>
				    	<input type="number" class="form-control" placeholder="" ng-model="pl.plan2.ingresos" >
				    </div>
				    <div class="col-sm-2">
					    <label>Trema</label>
				    	<input type="number" class="form-control" placeholder="Tasa de rendimiento minima aceptable" ng-model="pl.plan2.trema" >
				    </div>
				
			    </div>
		  	</div>
<!-- Distribucion de Gastos -->
		  	<div class="well">
					<h2 style="text-align: center">Distribución de Gastos (Estadisticas)</h2>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						       <div class="col-sm-3">
					            <label>Gastos Fijos de Oficina</label>
				    	         <input type="number" class="form-control" placeholder="" ng-model="pl.plan2.GastosFijos" >
						       </div>
						   
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Gastos Variables de Oficina</label>
									 <input type="number" class="form-control" placeholder="" ng-model="pl.plan2.GastosVariables" >
						    </div>
						   
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Gastos Indirectos de Campo</label>
									 <input type="number" class="form-control" placeholder="" ng-model="pl.plan2.GastosIndirectosCampo" >
						    </div>
						    
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Total</label>
						    </div>
						    
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Costos Directos -->
		  	<div class="well">
					<h2 style="text-align: center">Costos Directos</h2>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row" ng-repeat="(key, costo) in pl.costos" >
						     <div style="margin-top: 2px" class="col-sm-2 ">
							     <label for="{{key}}">{{costo.nombre}}</label>
							   	 <input type="number" id="{{key}}" class="form-control" ng-model="costo.value">
							 </div>
						 
							</div>

				    </div>
			    </div>
			    
					<div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label>Total</label> 
						    </div>
						  
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Estadistica de Gastos y Productividad -->
		  	<div class="well">
			  	<div class="row">
						<div class="col-sm-6">
							<h2 style="text-align: left">Estadistica de Gastos Indirectos para la Obra</h2>
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-6">
											<label>Presupuesto de Indirecto Total</label>
									  </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.estadisticaGastosIndirectosObraPresupuestoIndirectoTotal" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Porcentaje de Indirectos</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.estadisticaGastosIndirectosObraPorcentajeIndirectos" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Gastos Fijos de Oficina</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.estadisticaGastosIndirectosObraGastosFijosOficina" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Gastos de Campo</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.estadisticaGastosIndirectosObraGastosCampo" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-6">
											<label>Presupuesto de gastos indirectos por mes</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.estadisticaGastosIndirectosObraPresupuestoGastosIndirectosMes" required>
								    </div>
									</div>
						    </div>
					    </div>
				    </div>
						<div class="col-sm-6">
							<h2 style="text-align: left">Productividad</h2>
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-4">
											<label>Periodo 1</label>
									  </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.productividadPeriodo1" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 2</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.productividadPeriodo2" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 3</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.productividadPeriodo3" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 4</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.productividadPeriodo4" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
				    </div>
			  	</div>
		  	</div>
<!-- Mano de Obra y Materiales -->
		  	<div class="well">
			  	<div class="row">
						<div class="col-sm-6">
							<h2 style="text-align: left">Mano de Obra</h2>
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-4">
											<label>Periodo 1</label>
									  </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.manoObraPeriodo1" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 2</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.manoObraPeriodo2" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 3</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.manoObraPeriodo3" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 4</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.manoObraPeriodo4" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
				    </div>
						<div class="col-sm-6">
							<h2 style="text-align: left">Materiales</h2>
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-4">
											<label>Periodo 1</label>
									  </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.materialesPeriodo1" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 2</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.materialesPeriodo2" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 3</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.materialesPeriodo3" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Periodo 4</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.materialesPeriodo4" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
				    </div>
			  	</div>
		  	</div>
<!-- Tabla de ingresos, gastos -->
		  	<div class="well">
			  	<div class="row">
						<div class="col-sm-6">
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-4">
											<label>Ingresos</label>
									  </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ingresos" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Gastos</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.gastos1" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>ISR</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.isr1" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Utilidad Neta</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadNeta" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
				    </div>
						<div class="col-sm-6">
							<div class="row">
							  <div class="col-sm-12">
									<div class="row">
									  <div class="col-sm-4">
											<label>Costos</label>
									  </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.costos1" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Utilidad Fisica</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadFisica" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>PTU</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ptu1" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
					    <div class="row">
						    <div class="col-sm-12">
									<div class="row">
								    <div class="col-sm-4">
											<label>Rentabilidad</label>
								    </div>
								    <div class="col-sm-6">
							    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.rentabilidad" required>
								    </div>
									</div>
						    </div>
					    </div>
					    <br/>
				    </div>
			  	</div>
		  	</div>
<!-- Estado de Resultado -->
		  	<div class="well">
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<h2>Estado de Resultado</h2>
						    </div>
						    <div class="col-sm-4">
									<h2>Proyectado</h2>
						    </div>
						    <div class="col-sm-4">
									<h2>Actual</h2>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Ingresos</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ingresoProyectado" required>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ingresos" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Costos</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.costosDirectostotal3" required>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.costoActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Gastos</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.gastosProyectado" required>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.gastosActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Utilidad Fiscal</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadFisicaProyectado" required>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadFisicaActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>ISR</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.isrProyectado" required>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.isrActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>PTU</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ptuProyectado" required>						    
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ptuActual" required>						    
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Utilidad Neta</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadNetaProyectado" required>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.utilidadNetaActual" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Rentabilidad</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.rentabilidad1" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Saldo Disponible</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.saldoDisponible" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Cuentas por Pagar</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.cuentasPorPagar" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>IVA por Pagar</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ivaPorPagar" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Estimaciones por Cobrar</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.estimacionPorCobrar" required>
						    </div>
							</div>
				    </div>
			    </div>
		  	</div>
<!-- Ultima Tabla -->
		  	<div class="well">
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Si la obra se ejecuto en</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.meses" required>
						    </div>
						    <div class="col-sm-4">
									<label>Meses</label>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Nuevo presupuesto de Gastos Indirectos</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.nuevoPresupuestoGastosIndirectos" required>
								</div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Ajuste presupuestal de Indirectos</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.ajustePresupuestalIndirectos" required>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label>Anticipo de Obra</label>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.anticipoObras" required>
						    </div>
						    <div class="col-sm-4">
					    		<input type="number" class="form-control" placeholder="" ng-model="pl.plan.porcentajeObras" required>
						    </div>
							</div>
				    </div>
			    </div>

			    <br/>
					<div class="row">
						<br>
						<div class="col-sm-12">
							<input type="submit" ng-click="pl.guardar(pl.plan)" value="Guardar" class="btn btn-primary" ng-show="pl.action">
							<input type="submit" ng-click="pl.actualizar(pl.plan)" value="Actualizar" class="btn btn-primary" ng-show="!pl.action">
						</div>
					</div>
		  	</div>
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
			    <th width="20%"><div class="text-center">Empresa</div></th>
			    <th width="10%"><div class="text-center">Anticipo de obra</div></th>
			    <th width="10%"><div class="text-center">Obra</div></th>
			    <th width="10%"><div class="text-center">Plan</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="plan in pl.planes">
			    <td>{{plan.empresa}} </td>
			    <td>{{pl.plan.anticipoDeObras(plan) | currency}} </td> 
			    <td>{{plan.obra}} </td>
			    <td>{{plan.plan}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="plan.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!plan.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="pl.editar(plan._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							   <li><a href="#" ng-click="pl.cambiarEstatus(plan._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							    <!--<li><a href="/planes" ng-click="remove(planes)"><span class="fa fa-trash"> Eliminar</span></a></li>-->
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
		<!--<table class="table table-bordered">
			<thead>
				<tr>
			    <th width="20%"><div class="text-center">Ingresos</div></th>
			    <th width="10%"><div class="text-center">Costos</div></th>
			    <th width="10%"><div class="text-center">Gastos</div></th>
			    <th width="10%"><div class="text-center">Utilidad Fiscal</div></th>
			    <th width="10%"><div class="text-center">ISR</div></th>
			    <th width="10%"><div class="text-center">PTU</div></th>
			     <th width="10%"><div class="text-center">Utilidad Neta</div></th>
			      <th width="10%"><div class="text-center">Rentabilidad</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="plan in pl.planes">
			    <td>{{plan.empresa}} </td>
			    <td>{{pl.plan.anticipoDeObras(plan) | currency}} </td> 
			    <td>{{plan.obra}} </td>
			    <td>{{plan.plan}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="plan.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!plan.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="pl.editar(plan._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							   <li><a href="#" ng-click="pl.cambiarEstatus(plan._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							    <
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>-->
	</div>
</div>