<nav>
	<ul data-smart-menu>
<!--
    <li data-menu-collapse>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Maestros</span>
	    </a>
	    <ul>
	      <li>
		      <a ui-sref="root.maestroGrupos" tilte="Grupos">
		        <i class="fa fa-lg fa-fw fa-home"></i>
		        <span class="menu-item-parent">Grupos</span>
		      </a>
		    </li>
	    </ul>
    </li>
    <li data-menu-collapse>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Alumnos</span>
	    </a>
	    <ul>
	      <li>
		      <a ui-sref="root.alumnoCalificaciones" tilte="Calificaciones">
		        <i class="fa fa-lg fa-fw fa-home"></i>
		        <span class="menu-item-parent">Calificaciones</span>
		      </a>
		    </li>
	    </ul>
    </li>
	  <li data-ui-sref-active="active">
      <a ui-sref="root.inscripciones" >
        <i class="fa fa-lg fa-fw fa-user-plus"></i>
        <span class="menu-item-parent">Inscripciones</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.pagos">
        <i class="fa fa-lg fa-fw fa-dollar"></i>
        <span class="menu-item-parent">Pagos</span>
      </a>
    </li>
-->
    <li data-ui-sref-active="active">
      <a ui-sref="root.estadisticas" >
        <i class="fa fa-lg fa-fw fa-user-plus"></i>
        <span class="menu-item-parent">Estadisticas</span>
      </a>
    </li>
	  <li data-menu-collapse>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Catálogos</span>
	    </a>
	    <ul>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.empresas" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Empresas</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.obras" >
		        <i class="fa fa-lg fa-fw fa-sun-o"></i>
		        <span class="menu-item-parent">Obras</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.tipoProyecto" >
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Tipo Proyecto</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.usuarios" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Usuarios</span>
		      </a>
		    </li>
		      <li data-ui-sref-active="active">
		      <a ui-sref="root.partidas" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Partidas</span>
		      </a>
		    </li>
		     <li data-ui-sref-active="active">
		      <a ui-sref="root.costos" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Costos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.gastos" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Gastos</span>
		      </a>
		    </li>
	    </ul>
	  </li>
  </ul>
</nav>